@import "tailwindcss";

:root {
    --white: #ffffff;
    --purple: #8500d1;
    --border: .625rem;
    --fill: #0f1221;
    --font-inter: 'Inter', sans-serif;
    --stroke: #1b1e29;
    --gray: #c1c1c1;
}

body {
    font-family: var(--font-inter), sans-serif;
}